.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.appContainer {
  width: 400px;
  height: 600px;
}

.header {
  padding: 5%;
  background: #ffffff;
}

.radioButtons {
  margin-bottom: 20px;
}

.radioButton {
  /*font-size: 18px;*/
}

.searchBar {
  color: #222;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 2px 3px rgba(0,0,0,0.06);
  background-color: #fff;
  height: 44px;
  padding-left: 11px;
}

.searchInput {
  color: #222;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  position: relative;
  top: -1px;
  height: 44px;
  font-size: 16px;
}

.clearButton {
  box-sizing: content-box;
  speak: none;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 1em;
  cursor: pointer;
  background: transparent;
  text-align: center;
  border: none;
  height: 2.45em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  left: auto;
  margin: auto;
  z-index: 2;
  outline: none;
  padding: 0 .5em;
  line-height: 1;
  min-width: 21px;
  margin-right: 3.6em;
  color: #aaa;
  font-size: 14.4px;
}

.clearButton:hover {
  color: #777777
}

.clearButton:active {
  color: #de5833;
}

.searchButton {
  box-sizing: content-box;
  speak: none;
  /*font-style: normal;*/
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  text-decoration: none !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 1em;
  display: block;
  cursor: pointer;
  background: transparent;
  text-align: center;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2px;
  left: auto;
  margin: auto;
  z-index: 2;
  outline: none;
  border-radius: 0 4px 4px 0;
  min-width: 26px;
  color: #999;
  padding: 0 .64em;
  height: auto;
  min-height: 1.8em;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -3px;
  line-height: 1.5;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 18px;
}

.searchButton:hover {
  background-color: rgba(138, 43, 226, 0.58) !important;
  color: white
}

.appResult {
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  text-align: center;
  color: #000;
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
  height: 10%;
}

.appResultText {
  justify-self: left;
  width: 73%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 18px;
}

.appIcon {
  width: 13%;
  height: 13%;
  padding: 5px 3% 5px 5px;
}

.classIcon {
  width: 7.9%;
  height: 7.9%;
  margin-left: auto;
  align-self: center;
}


