.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.appContainer {
  width: 400px;
  height: 600px;
}

.appResult {
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  text-align: center;
  color: #000;
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  width: 380px;
}

.appResultText {
  justify-self: left;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.appIcon {
  width: 50px;
  height: 15%;
  padding: 5px;
}

.classIcon {
  width: 30px;
  height: 30px;
  margin-left: auto;
  align-self: center;
}

.btn {
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  border-width: 1px;
  border-color: blueviolet;
  width: 70px;
  height: 25px;
  margin-left: 10px;
  outline: none;
}

.btn:hover {
  background-color: white;
  color: blueviolet;
  border-width: 1px;
  border-color: blueviolet;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
