.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.appContainer {
  width: 400px;
  height: 600px;
}

.header {
  padding: 20px;
  background: #ffffff;
  color: #8a2ce2;
}

.radioButtons {
  margin-bottom: 20px;
}

.radioButton {

}

.searchBar {
  display: flex;
}

.searchInput {
  flex: 10;
  padding: 5px;
}

.searchButton {
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  border-width: 1px;
  border-color: blueviolet;
  width: 70px;
  height: 35px;
  margin-left: 10px;
  outline: none;
  flex: 1;
}

.searchButton:hover {
  background-color: white;
  color: blueviolet;
  border-width: 1px;
  border-color: blueviolet;
}

.appResult {
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  text-align: center;
  color: #000;
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  width: 380px;
  height: 60px;
}

.appResultText {
  justify-self: left;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.appIcon {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.classIcon {
  width: 30px;
  height: 30px;
  margin-left: auto;
  align-self: center;
}


